# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# IDE
.vscode/
.idea/

# Data
data/db/*.duckdb
data/db/*.db
data/market_depth/*.parquet
data/temp/

# Logs
logs/
*.log

# Streamlit
.streamlit/
